$topgames-classname: 'b-topgames';

@import './_video/topgames_video.scss';
@import './_iteminfo/topgames_iteminfo.scss';
@import './_navigation/topgames_navigation.scss';
@import './_progressbar/topgames_progressbar.scss';

.#{$topgames-classname} {      
  grid-template-areas:     
  "nav"  
  "bar"        
  "vid"
  "info"        
  "quote";

  @media only screen and (min-width: $breakpoint-sm) {
    background: var(--color-grey-60) !important;
    grid-template-columns: 70% auto;
    // grid-template-rows:  80px auto;
    grid-template-areas:     
    "info nav"
    "bar bar"
    "vid quote"        
    "footer footer"
  }
}

.#{$topgames-classname} {
    display: grid;
    & > * {
      max-width: 100%;
    }
  
    grid-template-rows: auto auto auto auto;    
  
    &__score {
      grid-area: b;
      align-self: center;
      justify-self: right;
    }
  
    &__darkmeta {
      color: var(--color-grey-400);
      font-size: 1rem;
    }
  
    &__footer {
      text-align: center;
      width: 100%;
    }
  
    &__platforms {
      color: var(--color-accent-1000);
      font-size: 0.85rem;
    }
  
    &__title {
      font-family: $font-family-secondary;
      font-weight: bold;
      font-size: 1.5rem;
    }
  
     
    @media only screen and (min-width: $breakpoint-lg) {
      box-shadow: #00000033 13px 13px 16px 0px;
    }    
  }
  
  @media only screen and (min-width: $breakpoint-sm) {
    .#{$topgames-classname} {      
  
      &__quote {
        grid-area: quote;      
      }
      
      button {
        cursor: pointer;
      }  
  
      .game-quotebox {   
        cursor: grab;           
        justify-self: start;
  
        @media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
          display: none;
        }
        &__quote {   
          margin-bottom: 1.5rem;
               
          @media only screen and (min-width: $breakpoint-sm) {
            font-size: 0.9rem;
          }
          @media only screen and (min-width: $breakpoint-md) {
            
            font-size: 1.3rem;
            line-height: 2rem;
          }
        }
      }
  
      &__footer {
        text-align: right;      
  
        & > * {
          margin: 1rem;
        }      
  
        grid-area: footer;
        @media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
          grid-area: footer;
        }
        
        align-self: center;
        justify-self: center;
  
      }
  
      &__score {
        visibility: hidden !important;
      }
  
      &__gameinfo {
        grid-area: info;      
      }
  
      &__video {
        border: none;
  
        @media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
          padding: 0;
          $h: 500px;
          max-height: $h !important; 
          iframe {
            max-height: $h !important; 
          }        
        }
        grid-area: vid;
      }
  
      &__nav {
        grid-area: nav;  
        background-color: var(--color-accent-1000);
  
        path {
          fill: white;
        }
  
        @media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
          &__counter { display: none; }   // element will become too tight otherwise
        }
      }
    }
  
  }
  