@keyframes pb-fill {
    0% {
        transform: scaleX(0)
    }   
    100% {
        transform: scaleX(1)
    } 
}

.b-progressbar {
    background: var(--color-grey-10);       
    &__bar {        
        animation: pb-fill linear 5s;
        animation-duration: 15s;
        transform-origin: 0%;

        &--accent {
            background-color: var(--color-accent-1000);        
        }

        &--grey {
            background-color: var(--color-grey-80);
        }

        &--full {
            animation: none;
        }

        &--empty {
            animation: none;                        
            transform: scaleX(0.1);
        }

    }
}