body {
    --color-grey-10: #0c0c0c;
    --color-grey-20: #0a0a0a;    
    --color-grey-50: #111111;
    --color-grey-60: #151515;
    --color-grey-80: #1b1b1b;
    --color-grey-100: #202020;
    --color-grey-150: #232323;    
    --color-grey-200: #292929;    
    --color-grey-350: #414141;
    --color-grey-400: #444444;     
    --color-grey-700: #707070;
    --color-grey-725: #747474;    
    --color-grey-750: #c7c7c7;
    --color-grey-800: #E1E1E1;
    --color-grey-900: #e6e6e6;
    
    --swiper-pagination-color: blue;

    --color-platform-pc: rgb(219, 131, 16);

    --color-accent-1000: #CB1232;
    --color-accent-logo-front-inner: #f8dee2;
    --color-accent-logo-front-outer: #f83c5b;
    --color-accent-logo-top-inner: #f7ced3;
    --color-accent-logo-top-outer: #e62c4b;
    --color-accent-logo-right-outer: #b3132d; 
    --color-accent-logo-right-inner: rgb(226, 135, 147);
    
    --color-accent-secondary-1000: rgb(219, 131, 16);

    --color-quality-poor: red;
    --color-quality-poor-text: rgb(255, 255, 255);
    --color-quality-medium: yellow;
    --color-quality-medium-text: rgb(95, 95, 6);
    --color-quality-high: green;
    --color-quality-high-text: rgb(251, 255, 251);

    --color-green-bright: #5CF107;


    --color-accent-logo-under: #CB1232;

    --global-nav-height: 80px;

    --size-game-video-height : 300px;    


    --pn-glaze-background : rgba(0,0,0,0.8);
    
    --pn-zindex-glaze : 2020;
    --pn-zindex-mobilemenu : 5000;

    --pn-mobilemenu-cc: rgb(53, 53, 53);
} 