@import './colors.scss';
@import './reset.scss';
@import './icon.scss';
@import './breakpoints.scss';
@import './variables.scss';
@import './reset.scss';

@import './blocks/button/button.scss';
@import './blocks/chervonentitynav.scss';
@import './blocks/chevronicon.scss';
@import './blocks/citescroller.scss';
@import './blocks/scoretag.scss';
@import './blocks/navigation.scss';
@import './blocks/sitelogo.scss';
@import './blocks/topgames/topgames.scss';
@import './blocks/progressbar/progressbar.scss';

body {
    color : var(--color-grey-900);
    background: var(--color-grey-80);
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}
