@import './colors.scss';
@import './reset.scss';
@import './icon.scss';
@import './breakpoints.scss';
@import './variables.scss';
@import './reset.scss';

@import './blocks/button/button.scss';
@import './blocks/chervonentitynav.scss';
@import './blocks/chevronicon.scss';
@import './blocks/citescroller.scss';
@import './blocks/videotoggler.scss';
@import './blocks/section.scss';
@import './blocks/scoretag.scss';
@import './blocks/navigation.scss';
@import './blocks/sitelogo.scss';
@import './blocks/review.scss';
@import './blocks/compilation.scss';
@import './blocks/compilationheader.scss';
@import './blocks/footer.scss';
@import './blocks/title.scss';
@import './blocks/topgames/topgames.scss';
@import './blocks/progressbar/progressbar.scss';

body {
    color : var(--color-grey-900);
    background: var(--color-grey-80);
}

.main {
}

.pnet {    
    margin: 0 auto;
    margin-top: 6rem;
}
