.compilation {
    &__reviewlist {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        max-width: 100%;

        & > * {
            width: 31%;
        }
    }
}